@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  width: 36rem;
  height: 45rem;
  margin: 0 auto;
  padding: 5rem 0;
  border: 1px solid #ddd;
}

.card {
  width: 24rem;
  margin: 0 auto;
  border: 1px solid #eeeeee;
  border-radius: 0.375rem;
  padding: 1.375rem;
  box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12), 0px 0px 4px 0px rgba(20, 20, 20, 0.1);
}

.separator {
  border-top: 1px solid #e5e7eb;
  margin: 0.625rem 0;
}

.button {
  background-color: #ffce22;
  border: 0;
  border-radius: 0.25rem;
  height: 2.5rem;
  padding: 0 0.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 0.875rem;
}

.button-wrapper {
  padding-top: 0.625rem;
}

.button:hover {
  background-color: #ffd84d;
}

.button:active {
  background-color: #ffce22;
  cursor: default;
}

.page-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 0.75rem 0.5rem 1.25rem;
  cursor: pointer;
}

.page-title {
  color: #374151;
  user-select: none; /*todo: research this */
}

.pages-list {
  max-height: 12rem;
  overflow-y: scroll;
}

.checkbox {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0;
  border-radius: 0.375rem;
  border: 1px solid #cdcdcd;
  background-color: white;
  cursor: pointer;
  color: transparent;
}

.checkbox:hover,
.page-row:hover .checkbox {
  border: 1px solid #bdbdbd;
  color: #e3e3e3;
}

.checkbox:active,
.page-row:active .checkbox {
  color: #878787;
  box-shadow: 0 0 0 0.188rem rgba(36, 105, 246, 0.1);
}

.checkbox.checked,
.page-row .checkbox.checked {
  color: white;
}

.checkbox.checked {
  border-color: #2469f6;
  background-color: #2469f6;
}

.checkbox.checked:hover,
.page-row:hover .checkbox.checked {
  border-color: #5087f8;
  background-color: #5087f8;
}
